@media(max-width:1024px){

}

@media(max-width:992px){
    
}

@media(max-width:768px){
    nav .menu .ul {
        flex-direction: column;
    }
    
}

@media(max-width:576px){
    html{
        font-size: 0.5rem;
    }
    h2{
        font-size: 1.5rem!important;
    }
    nav .menu .ul {
        display: flex;
        flex-direction: column;
    }
    
.top-carousel .carousel-inner .carousel-item:nth-child(1){
    background-image: url('../images/carousel/carousel-1.jpg');
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.top-carousel .carousel-inner .carousel-item:nth-child(2){
    background-image: url('../images/carousel/carousel-2.jpg');
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.top-carousel .carousel-inner .carousel-item:nth-child(3){
    background-image: url('../images/carousel/carousel-3.jpg');
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
    nav .button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
      Width:100%!important;
    }
    .companies #carouselExampleControls .carousel-item img{
        padding: 0px!important;
    }
    .companies .carousel-item img{
        height: 12vh;
        width: 48%!important;
    }
}
