*{
    box-sizing: border-box;
    margin: 0px;
}

/* @font-face {
    font-family: ;
    src: url();
} */

html{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    /* background-color: black; */
    padding: 10px;
}
nav .logo img{
    height: 64px;
    width: 100px;
}
nav .menu .ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .ul li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    /* background-color: yellow; */
}
nav .button{
    padding: 10px;
}
nav .button button{
    width: 120px;
}

/* Carousel */
.top-carousel .carousel{
    height: 80vh;
}

.top-carousel .carousel-inner .carousel-item:nth-child(1){
    background-image: url('../images/carousel/carousel-1.jpg');
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.top-carousel .carousel-inner .carousel-item:nth-child(2){
    background-image: url('../images/carousel/carousel-2.jpg');
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.top-carousel .carousel-inner .carousel-item:nth-child(3){
    background-image: url('../images/carousel/carousel-3.jpg');
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.carousel-item img{
    height: 80vh;
    width: 100vw;
}

.carousel-item .carousel-caption{
    position: absolute;
    bottom: 50%;
    transform: translate(0%,50%);
}

.carousel-item .carousel-caption h5{
    font-size: 48px;
}

.carousel-item .carousel-caption p{
    font-size: 16px;
}

.tools h2{
    font-size: 48px;
}

.tools .para{
    font-size: 20px;
    padding: 0px 250px;
}

.favourite h2{
    font-size: 48px;
}

.favourite  .para{
    font-size: 20px;
    padding: 0px 250px;
}

.companies h2{
    font-size: 48px;
}

.companies  .para{
    font-size: 20px;
    padding: 0px 250px;
}

.companies .carousel-item img{
    height: 12vh;
    width: 24%;
    /* border: #000 1px solid; */
}

.companies .carouselExampleControls{
    height: 12vh;
    background-color: #000;
}

.companies .carouselExampleControls .carousel-item{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}